div#github-buttons {
    text-align: center;
    margin-top: 20px;
}

div#github-buttons > div {
    width: 160px;
    margin: 0 auto;
    background-color: #674EA7;
    color: #fff;
    padding: 10px;
    border: 2px #A192C7 solid;
}

div#github-buttons > div:nth-of-type(1) {
    border-radius: 15px 15px 0 0;
    border-bottom: none;
}

div#github-buttons > div:nth-of-type(2) {
    border-radius: 0 0 15px 15px;
    padding: 0;
    width: 180px;
    padding-bottom: 10px;
}

div#github-menu {
    cursor: pointer;
}

div#github-menu > div:nth-of-type(1) {
    text-align: left;
    line-height: 42px;
    position: relative;
    height: 42px;
}

div#github-menu > div:nth-of-type(1) > * {
    position: absolute;
    top: 0;
    bottom: 0;
}

div#github-menu > div:nth-of-type(1) > i {
    display: block;
    line-height: inherit;
    width: 42px;
    text-align: center;
    background: #9C85D8;
}

div#github-menu > div:nth-of-type(1) > span {
    left: 50px;
    color: #CAC2DE;
}

div#github-menu > div:nth-of-type(1) > div {
    left: 94px;
    overflow: hidden;
}

div#github-menu > div:nth-of-type(2) {
    line-height: 42px;
    text-align: left;
    max-height: 0;
    overflow: hidden;
}

div#github-menu > div:nth-of-type(2) > div > i {
    display: inline-block;
    height: 42px;
    width: 42px;
    vertical-align: top;
    line-height: inherit;
    text-align: center;
    background: #7C66B7;
    margin-right: 8px;
}

div#github-menu > div:nth-of-type(2) > div:hover {
    background: #6FC59E;
}

div#github-menu > div:nth-of-type(2) > div:hover > i {
    background-color: #85D8B2;
}

div#github-buttons[data-github="status"] div#github-menu > div:nth-of-type(2) > div:nth-of-type(1) {
    background: #7C66B7;
}

div#github-buttons[data-github="status"] div#github-menu > div:nth-of-type(2) > div:nth-of-type(1) > i {
    background-color: #9C85D8;
}

div#github-buttons[data-github="repos"] div#github-menu > div:nth-of-type(2) > div:nth-of-type(2) {
    background: #7C66B7;
}

div#github-buttons[data-github="repos"] div#github-menu > div:nth-of-type(2) > div:nth-of-type(2) > i {
    background-color: #9C85D8;
}

div#github-buttons[data-github="graphs"] div#github-menu > div:nth-of-type(2) > div:nth-of-type(3) {
    background: #7C66B7;
}

div#github-buttons[data-github="graphs"] div#github-menu > div:nth-of-type(2) > div:nth-of-type(3) > i {
    background-color: #9C85D8;
}

div#github-buttons[data-door="opened"] div#github-menu > div:nth-of-type(2) {
    max-height: initial;
}
