body {
    font-family: 'Open Sans';
    display: flex;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px 0 0;
    line-height: 86px;
    font-size: 72px;
}

body > section {
    width: 50%;
    height: 100%;
}

section#navigation {
    max-width: 420px;
}

div#page-header {
    height: 300px;
}

section#blog {
    flex-grow: 1;
}
