body {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    display: flex;
}

h1 {
    margin: 20px 0 0;
    line-height: 86px;
    font-size: 72px;
}

h2 {
    margin: 20px 0 0;
    line-height: 68px;
    font-size: 48px;
}

h3 {
    margin: 20px 0 0;
    line-height: 50px;
    font-size: 36px;
}

h4 {
    margin: 10px 0 0;
    line-height: 40px;
    font-size: 28px;
}

h5 {
    margin: 10px 0 0;
    line-height: 28px;
    font-size: 18px;
}

h6 {
    margin: 10px 0 0;
    line-height: 24px;
    font-size: 15px;
}

body > section {
    width: 50%;
    height: 100%;
}

section#sudo {
    max-width: 420px;
}

section#navigation {
    max-width: 420px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: -10px 0 10px 10px #999;
    display: flex;
    flex-direction: column;
}

div#page-header {
    text-align: center;
    box-shadow: 0 4px 6px -3px #949494;
    padding-bottom: 10px;
}

div#page-header > * {
    margin-left: 20px;
    margin-right: 20px;
}

div#page-header > img {
    width: 260px;
}

section#blog {
    flex-grow: 1;
}
